body {
    font-family: Arial;
    background: #f4f4f4;
}

.quiz-container {
    max-width: 500px;
    margin: 50px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    cursor: pointer;
}
